.App {
  text-align: center;
  margin: 30px
}

.container{
  border: 5px dotted #3e8e41;
  height: 400px
}

button{
  display: inline-block;
  padding: 15px 25px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #4CAF50;
  border-radius: 12px;
  font-size: 24px;
  border: none;
  box-shadow: 0 9px #999;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}
